# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~

# Editors
.vscode/
.idea/
*.swp
*.swo

#Word
*.docx
*.doc
*.docm
*.dotx
*.dotm
*.docb